.source.python {

  .storage.type.class,
  .storage.type.function { .purple; }
  // also logical operators
  .logical.operator { .purple; }
  // and builtin functions
  .builtin { .teal; }
  // other language stuff (print)
  .other.keyword { .purple; }

  .meta.structure.dictionary.key {
    .numeric,
    .string.quoted {
      .blue;
      .punctuation.definition { .blue-sec; }
    }
  }

  .block.string {
    .indent-guide {
      background-color: @syntax-background-color;
    }
    .green;
  }

  .constant.language { .teal; }

  .variable.self { .orange; }
  //.parameters.function { .orange; }
  .function.name.entity { .orange; }
  .class.type.name { .orange; }

  .decorator.function.name.entity {
    color: @orange-text-sec;
  }

  .decorator > .builtin {
    color: @orange-text-sec;
    background-color: @orange-bg;
  }
}
