
@base1: hsl(35,  8%, 35%); // Contrast 6 Luma 10.4% #605A52
@base2: hsl(35, 15%, 50%); // Contrast 3.3 Luma 23.5% #93836C
@base3: hsl(35, 22%, 65%); // Contrast 2 Luma 40.8% #B9A992
@base4: hsl(35, 24%, 82%);
@base5: hsl(35, 25%, 86%);
@base6: hsl(35, 30%, 92%);
@base7: hsl(35, 36%, 95%); // Luma 90%

@accent: hsl(250, 100%, 65%);

@orange-text: hsl(35, 60%, 85%);
@orange-text-sec: hsl(35, 22%, 65%);
@orange-bg: hsla(35, 55%, 55%, 0.8);

@green-text: hsl(71, 60%, 85%);
@green-text-sec: hsl(71, 50%, 55%);
@green-bg: hsla(78, 35%, 45%, 0.50);

@teal-text: hsl(161, 60%, 85%);
@teal-text-sec: hsl(161, 19%, 60%);
@teal-bg: hsla(172, 35%, 45%, 0.8);

@blue-text: hsl(220, 60%, 85%);
@blue-text-sec: hsl(220, 40%, 60%);
@blue-bg: hsla(220, 35%, 45%, 0.80);

@purple-text: hsl(300, 60%, 85%);
@purple-text-sec: hsl(300, 17%, 65%);
@purple-bg: hsla(282, 35%, 45%, 0.8);
