
// @base1: hsl(35,  8%, 35%); // Contrast 6 Luma 10.4% #605A52
// @base2: hsl(35, 15%, 50%); // Contrast 3.3 Luma 23.5% #93836C
// @base3: hsl(35, 22%, 65%); // Contrast 2 Luma 40.8% #B9A992
// @base4: hsl(35, 24%, 82%);
// @base5: hsl(35, 25%, 86%);
// @base6: hsl(35, 30%, 92%);
// @base7: hsl(35, 36%, 95%); // Luma 90%
// solarized base colours
@base0: #002b36;
@base1: #073642;
@base2: #586e75;
@base3: #657b83;
@base4: #839496;
@base5: #93a1a1;
@base6: #eee8d5;
@base7: #fdf6e3;

@accent: #6c71c4;

@orange-text: #fbebc6;
@orange-text-sec: #fbbb86;
@orange-bg: #cb4b16;

@green-text: #d5f9a0;
@green-text-sec: #354900;
@green-bg: #859940;

// actually cyan
@teal-text: #baf1f8;
@teal-text-sec: #0a8158;
@teal-bg: #2aa198;

@blue-text: #a6dbf2;
@blue-text-sec: #064b82;
@blue-bg: #268bd2;

// magenta
@purple-text:  #f3d6f2;
@purple-text-sec: #430642;
@purple-bg: #d33682;
